/** from material web **/

body {
  display: flex;
  height: 100vh;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
}

/**custom below**/


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header{
  position: static !important;
  background-color: black !important;
}

main{
  padding-left: 24px;
  padding-right: 24px;
}

.full-width{
  width: 100%;
}


#menu-button{
  text-decoration: none;
}

aside{
  transition: width 0.5s !important;
}

/** logo **/
.logo{
  margin: 0 auto;
  border-style: dashed;

  font-family: 'Geo', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

#big-logo{
  height: 46px;
  width: 98px;

  border-color: grey;
  border-width: 3px;
  background-color: white;

  padding: 4px;
  overflow: hidden;
  font-size: 24px;
}

#lil-logo{
  border-width: 1px;
  border-color: grey;
  padding-left: 2px;
  padding-right: 2px;
}

#big-logo a {
  text-decoration: none;
  color: black;
}

#lil-logo a{
  text-decoration: none;
  color: white;
}

#big-logo p {
  margin: 0;
}

#logan{
  letter-spacing: 11px;
}
#watanabe{
  letter-spacing: 0.7px;
}

#menu{
  padding-top: 24px;
}

/** content **/

#headline{
  font-family: 'Geo', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.social-cell{
  text-align: center;
}

@media only screen and (max-width: 600px) {
  aside {
    width: 0px !important;
  }
}



